/* ========================================================================= */
/* ================================ GENERAL ================================ */
/* ========================================================================= */

html, body { width: 100%; height: 100%;} /* set body to full width and height */

body
{
	/* remove body margin */
	margin: 0;

	/* set responsive background image (will appear when the video is not yet loaded) */
	background: url(img/background.jpg) no-repeat center center fixed; 
	background-size: cover;

	/* set default font color */
	color: #333333;
}

* { font-family: 'Open Sans', sans; } /* set default font to open sans, embeded from google fonts */
a { font-family: inherit; color: #00705e; text-decoration: none; outline: none;} /* remove links decorations */

button
{
	/* apply vertical and horizontal padding */
	padding: 10px 30px;

	/* set cursor to pointer, like links */
	cursor: pointer;

	/* remove border but apply radius */
	border: none;
	border-radius: 5px;

	/* set background color */
	background-color: #F8F8F8;

	/* set font style */
	font-family: 'Roboto', 'Open Sans', sans;
	color: #333333;
	text-transform: uppercase;
}

h1, h2, h3 { font-family: 'Roboto' !important; } /* title custom font */

th { font-weight: normal; vertical-align: middle;} /* table cell custom style */



/* ======================================================================== */
/* ================================ HEADER ================================ */
/* ======================================================================== */


#header
{
	/* set fixed position */
	position: fixed;

	/* set index to 2, ensuring it'll be in front of other elements */
	z-index: 2;

	/* set full width */
	width: 100%;

	/* set a 10px padding */
	padding: 15px 0;

	/* set background color */
	background-color: rgba(36, 41, 46);
}

#header a, #header_logo
{
	/* position and display styles */
	position: relative;
	display: inline-block;

	/* set cursor to pointer, like links */
	cursor: pointer;

	/* font styles */
	font-family: 'Roboto';
	font-size: 0.95em;
	color: #F8F8F8;
	text-transform: uppercase;
}

#header a { margin-left: 40px; } /* set gap between navigation links */

/* Underline Effects (tl;dr) */
#header a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0097BA;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom: -2px;
}
#header a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#header #header_logo
{
	/* set image dimensions */
	height: 40px;
	width: auto;

	/* apply padding */
	padding-left: 10%;

	/* vertical aligning */
	vertical-align: middle;
}

#header .nav_links
{
	/* apply padding */
	padding-top: 10px;
	padding-right: 10%;

	/* set float to right */
	float: right;

	/* prevent wrapping */
	white-space: nowrap;
}



/* ========================================================================= */
/* ================================= COVER ================================= */
/* ========================================================================= */


#bg_video
{
	/* set position to fixed, preventing scroll */
	position: fixed;

	/* set index to -1, ensuring it'll be behind other elements */
	z-index: -1;

	/* set default dimensions to auto, allowing it to resize the video if needed */
	width: auto;
	height: auto;

	/* set minimum dimensions, allowing it to occupy full width and height even when viewport is bigger than video's dimension */
	min-height: 100%;
	min-width: 100%;

	/* set the position to start cropping the video (i think 25% is more appropriate than 50%, thanks to video's content)*/
	top: 25%;
	left: 25%;
	transform: translate(-25%,-25%);
}

#cover
{
	/* set display to inline-block, so we can use margin properties */
	display: inline-block;

	/* set width to full and height to (full minus header height) */
	width: 100%;
	height: calc(100% - 70px);

	/* start content after header element, preventing overlap */
	margin-top: 70px;
}

#cover .cover_logo
{
	/* set position to relative, allowing using top attribute */
	position: relative;

	/* centering horizontally */
	display: block;
	margin: auto;

	/* centering vertically */
	top: 50%;
	transform: translateY(-50%);

	/* set width */
	width: 50vmax;
	max-width: 100%; /* prevents overflow-y in small devices */
}



/* ======================================================================= */
/* ============================== SECTIONS =============================== */
/* ======================================================================= */


.whitespace { height: 80px; } /* just an empty space */

.title
{
	/* font styles */
	font-family: 'Roboto';
	font-size: 2em;
	text-transform: uppercase;
}

#about, #projects
{
	/* full width */
	width: 100%;

	/* set background color */
	background-color: #F2F2F2;
}

#about p { width: 40vmax; } /* about text width */

#projects .flex_container
{
	/* container width */
	width: 75%;

	/* flex properties */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

#projects .flex_container img
{
	/* set dimensions */
	width: 100px;
	height: 100px;

	/* round border */
	border-radius: 10px;
}

#projects .flex_child { width: 120px; } /* set equal width for each child */



/* ======================================================================== */
/* ================================ FOOTER ================================ */
/* ======================================================================== */


#footer
{
	/* full width */
	width: 100%;

	/* set table display for vertical aligning */
	display: table;

	/* set padding */
	padding: 20px 0;

	/* background color */
	background-color: rgba(36, 41, 46);

	/* font color */
	color: #F8F8F8;
}