/* ========================================================================= */
/* ================================ GENERAL ================================ */
/* ========================================================================= */


/* set  default font to Open Sans, embeded from Google Fonts */
* { font-family: 'Open Sans', sans; }

/* set body to full width and height, instead of content's */
html, body { width: 100%; height: 100%; }

body
{
	/* remove body margin */
	margin: 0;

	/* hide overflow-x and overflow-y */
	overflow: hidden;

	/* set responsive background image (video not loaded) */
	background: url(img/background.jpg) no-repeat center center fixed; 
	background-size: cover;
}

/* Background Video */
#bg_video
{
	/* set position to fixed, preventing scroll */
	position: fixed;

	/* set the position to start cropping the video (i think 25% is more appropriate than 50%, thanks to video's content)*/
	top: 25%;
	left: 25%;
	transform: translate(-25%,-25%);

	/* set index to -1, ensuring it'll be behind other elements */
	z-index: -1;

	/* set default dimensions to auto, allowing it to resize the video if needed */
	width: auto;
	height: auto;
	/* set minimum dimensions, allowing it to occupy full width and height even when the viewport is bigger than video's dimension */
	min-height: 100%;
	min-width: 100%;
}



/* ======================================================================== */
/* ================================ HEADER ================================ */
/* ======================================================================== */


#header
{
	/* set fixed position */
	position: fixed;

	/* apply a 10px space from top */
	margin-top: 10px;

	/* set index to 2, ensuring it'll be in front of other elements */
	z-index: 2;

	/* set width and height */
	width: 100%;

	/* set a 10px padding */
	padding: 10px;

	color: white; /* set font color to white */
	transition: all 0.75s ease-in; /* is it necessary? */

	/* blocking header selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* set .nav_left and .nav_right widths, and apply a 110px (55*2) space for the logo image */
#header div { width: calc(50% - 55px); }

/* set position to relative and display to inline-block, preventing line wrap */
.nav_left, .nav_right { position: relative; display: inline-block; }

/* set font styles for header links */
#header a, #logo
{
	position: relative;
	display: inline-block;

	cursor: pointer; /* cursor turns to pointer on hover */
	outline: none; /* removes outline when clicked */
	text-decoration: none; /* removes underline */

	margin: 5px 40px -2px 0; /* apply top (5px), bottom (5px) and right (40px) padding */

	text-transform: uppercase; /* transform text to UPPERCASE */

	font-family: 'Orbitron';
}

/* Underline Effect on Hover */
#header a:hover:before { visibility: visible; transform: scaleX(1); }
#header a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #00E2BF;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
	margin-bottom: -2px;
}

#header .nav_left { text-align: right; } /* align .nav_left text to right */
#header .nav_right { text-align: left; } /* align .nav_right to left      (confusing, huh?) */ 

#header #logo
{
	vertical-align: middle; /* vertical-aligning text */
	width: 60px; /* image width */
	height: 60px; /* image height */
	fill: white; /* svg color */
	transition: all 0.75s ease-in; /* transitioning like header links */
}



/* ========================================================================= */
/* ================================ CONTENT ================================ */
/* ========================================================================= */


#content
{
	/* set display to inline-block, so we can use margin properties */
	display: inline-block;

	/* set width to full and height to (full minus header height) */
	width: 100%;
	height: calc(100% - 70px);

	/* start content after header element, preventing overlap */
	margin-top: 70px;

	/* fix weird bug (???) i think it's caused by 'height: calc()' */
	margin-bottom: -5px;
}

#content .index_logo
{
	/* set position to relative, allowing using top attribute */
	position: relative;

	/* centering horizontally */
	display: block;
	margin: auto;

	/* centering vertically */
	top: 50%;
	transform: translateY(-50%);

	/* set width */
	width: 50vmax;
	max-width: 100%; /* prevents overflow-y in small devices */
}



/* ======================================================================= */
/* ================================ PAGES ================================ */
/* ======================================================================= */

/* underlining active page */
.link_active { border-bottom: 2px solid #00E2BF; }

/* make active page visible */
.page_active { top: 0 !important; visibility: initial !important;}

/* setting whitespace height */
.whitespace { height: 110px; }

/* Orbitron font in titles */
h1, h2, h3 {font-family: 'Orbitron';}

/* title settings */
.title
{
	font-size: 2em;
	font-family: 'Orbitron';
	text-transform: uppercase;
}

/* pages properties */
#page_about, #page_news, #page_contact, #page_projects, #page_schedule, #page_wiki
{
	position: absolute; 
	top: 100%; /* hide at bottom */

	visibility: hidden; /* hide it! */
	z-index: 1; /* render in front of other elements */

	width: 100%;
	height: 100%;

	transition: all 0.75s ease-in; /* set smooth transition */

	color: #333;

	background: url(img/whiteBackground.jpg) no-repeat center center fixed; 
	background-color: #ddd;
	background-size: cover;
}

/* content from pages */
content
{
	display: inline-block;

	width: calc(100% - 20px); /* 2*10px margin */
	height: calc(100% - 120px); /* 110px whitespace + 10px margin */
	
	padding: 0 10px;
	overflow-y: auto;
}

/* fixing content links */
content a { font-family: inherit; color: #00705e; text-decoration: none}

th { font-weight: normal; }
